<h5><%= link_to('Shelters Index', '/shelters') %></h5>
<h5><%= link_to('Pets Index', '/pets') %></h5>

<%= render partial: 'form', locals: {
                                  header: "Edit #{@shelter.name}'s Information",
                                  path: "/shelters/#{@shelter.id}",
                                  method: :patch,
                                  submit_text: 'Update Shelter Information',
                                  shelter_name: "#{@shelter.name}",
                                  shelter_address: "#{@shelter.address}",
                                  shelter_city: "#{@shelter.city}",
                                  shelter_state: "#{@shelter.state}",
                                  shelter_zip: "#{@shelter.zip}"
                                  } %>
