<h5><%= link_to('Shelters Index', '/shelters') %></h5>
<h5><%= link_to('Pets Index', '/pets') %></h5>

<%= render partial: 'form', locals: {
                                header: 'Create a New Shelter',
                                path: '/shelters',
                                method: :post,
                                submit_text: 'Create Shelter',
                                shelter_name: nil,
                                shelter_address: nil,
                                shelter_city: nil,
                                shelter_state: nil,
                                shelter_zip: nil
                                } %>
