<h5><%= link_to('Shelters Index', '/shelters') %></h5>
<h5><%= link_to('Pets Index', '/pets') %></h5>

<%= render partial: 'form', locals: {
                                  header: "Edit #{@pet.name}'s Information",
                                  path: "/pets/#{@pet.id}",
                                  method: :patch,
                                  submit_text: 'Update Pet',
                                  pet_name: "#{@pet.name}",
                                  pet_image: "#{@pet.image}",
                                  pet_description: "#{@pet.description}",
                                  pet_approximate_age: "#{@pet.approximate_age}",
                                  pet_sex: "#{@pet.sex}",
                                  shelter_id: "#{@pet.shelter_id}",
                                  } %>
