#flash-message {
                color: white;
                background-color: red;
                }

#highlighted-reviews {
                      background-color: lightgrey;
                      }
